@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 98vw;
  margin: auto auto;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(10, 10, 10);
}

header {
  width: 100%;
  border: 2px solid white;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid white;
  margin-top: 5px;
}
aside {
  width: 100%;
  border: 2px solid white;
  margin-top: 5px;
}
main {
  width: 100%;
  margin-top: 5px;
}
footer {
  width: 100%;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 5px;
  color: white;

  background-color: #068a1c;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer > div#finalizar-compra {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 10px;
  background-color: #068a1c;
}

footer > div#finalizar-compra > p {

  cursor: pointer;
}

footer > div#finalizar-compra.disabled {
  background-color: gray;
}

footer > div#finalizar-compra > p > a {
 color: white
}

.container {
  display: flex;
  background-color: antiquewhite;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

h1 {
  font-size: 5vw;
  margin-block-start: 0;
  margin-block-end: 0;
}

div > .uc {
  font-size: 1.5vw;
  background-color: blueviolet;
  margin: 0px;
  object-fit: contain;
}

.logoAnima {
  width: 10vw;
  margin-top: 10px;
}
.unp {
  width: 15vw;
}

.integrantes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: #068a1c;
  padding: 8px;
  font-size: 11px;
}

.professores {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.alunos {
  display: flex;
  flex-wrap: wrap;
}

.integrantes #nome {
  background: linear-gradient(to top, black, transparent);
  margin-top: -12px;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.integrantes img {
  width: 120px;
  height: 130px;
  border-radius: 15px;
}

.Alburquerque {
  margin-left: 10px;
  margin-right: 10px;
}

.jonhvictor {
  margin-right: 10px;
}

.michell {
}

.edyene {
  margin: 0 10px;
}

.fotoNatal img {
  width: 200px;
}

.a3 h3 {
  font-size: 8vw;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.a3 p {
  font-size: 1.2vw;
  margin-top: -16px;
  letter-spacing: 2px;
}

.a3 {
  margin-top: -20px;
  margin-right: 70px;
}

.entrada {
  background-image: url(imagens/codigo2.png);
  background-position: top center;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
}

.entrada h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  background: linear-gradient(to top, #000, transparent);
}

.entrada h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  background: linear-gradient(to top, #000, transparent);
}

.entrada p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(to top, #000, transparent);
}

.produtos {
  font-size: 2vw;
  display: grid;
  grid-template-columns: auto auto auto;
}

.prudutos-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

.prudutos-item img {
  width: 25vw;
  height: 22vh;
  object-fit: cover;
  border-radius: 2vw;
}

#contador {
  padding: 5px;
  background-color: red;
  border-radius: 10px;
  margin-left: 2.5vw;
  margin-bottom: 5px;
  width: 88%;
  bottom: 0;
}

#contador div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.qtd {
  font-size: 8vw;
  text-align: center;
}

.btn-adicionar {
  border-radius: 6px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.5vw;
  width: 95%;
  height: 5vh;
  background-color: aqua;
  margin: 3px;
}

button {
  border-radius: 6px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  font-size: 4vw;
  width: 4vw;
  height: 5w;
  background-color: aqua;
}

#botao-finalizar-compra {
  text-decoration: none;
}

.disabled {
  color: red
}

#modal-finalizar-compra > h1 {
  margin-bottom: 15px;
}

#modal-finalizar-compra > div > h3#valor-total-compra {
  margin-bottom: 15px;
  color: #068a1c;
}

#modal-finalizar-compra > div > h3#valor-total-compra > span {
  color: black;
}

#modal-finalizar-compra > div > div#itens-escolhidos-box > h3 {
  color: #068a1c;
  margin-bottom: 10px;
}

#modal-finalizar-compra > div > div#itens-escolhidos-box > ul > li {
  margin-bottom: 5px;
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .integrantes{
    background-color: black;
    justify-content: space-around;
  }
  .alunos{
    padding: 20px;
  }
  .professores{
    padding: 20px;
  }
  .integrantes{
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .integrantes {
    justify-content: space-around;
  }

  .alunos {
    justify-items: center;
    display: grid;
    grid-template-columns: 16vw 16vw;
    font-size: 9px;
  }

  .h1_p h1 {
    font-size: 35px;
  }
  .h1_p p {
    font-size: 11px;
    color: white;
  }

  .tamanho img {
    max-width: 14vw;
    max-height: 13vw;
  }
  .Alburquerque,
  .santos {
    margin-bottom: 10px;
  }

  #nome {
    font-size: 1vw;
  }

  .integrantes #nome {
    background: linear-gradient(to top, white, transparent);
    margin-top: -6px;
    color: black;
  }

  .a3 {
    margin: 0 auto;
  }

  .a3 p {
    margin-top: -05px;
    margin-left: 0px;
  }

  .professores {
    display: grid;
    grid-template-columns: 16vw 16vw;
  }

  .edyene {
    margin: 0;
  }

  .produtos {
    grid-template-columns: auto auto;
  }
  .prudutos-item img {
    width: 75px;
    height: 30px;
    /* object-fit: cover; */
    border-radius: 2vw;
  }
  .btn-adicionar {
    font-size: 13px;
  }
  button {
    font-size: 20px;
    /* width: 4vw;
    height: 5w; */
    background-color: aqua;
  }
}
